*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .vender{ 
    color: white;
    text-decoration: none;
}
.vender:hover{
    color: white;
    text-decoration: none;
}

.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}