:root{
    --colonaranja: #a9461d;
    --colorpiel: #ea993a;
    --colorturq: #2c7784;
    --colorcelesteclaro: #8fcfc1;
    --colormelon: #e4ddb3;

    /*basic colors*/
    --red: #FF0000;
    --yellow: #FFF300;
    --green:#00FF00;
    --blue:#0064FF;
    --withe:#ffffff;
    --black:#0000;

    /*hover color*/
    --hovernaranja: #612912;
    --hoverpiel: #966326;
    --hoverturq: #1B484F;
    --hoverceles: #669188 ;
    --hovermelon:#9B967A;




}

body{
    margin: 0;
    padding: 0;
}

h1{
    font-style: italic;
    font-size: 30px;
    text-align: center;
    
}
p{
    text-align: center;
    height: 5px;
}


input[type="text"],input[type="password"] {
    outline: none;
    padding: 20px;
    display: block;
    width: 600px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
}
input[type="submit"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 320px;
    border-radius: 3px;
    border: 0;
    margin: 20px auto;
    background: var(--colorturq);
    cursor: pointer;
    margin-top: 0;
}
input[type="submit"]:hover{
    background: var(--hoverturq);
    color: var(--withe);
}
